html * {
	font-family: Rockwell;
	font-size:20px;
}

#butterly{
	width:100;
	height:100;
	margin-right;
}

body {
	background-color: #9FD5AB;
	position: relative;
	padding-top: 10px;
	padding-left: 10px;
}

button {
	margin: 5px;
	background: #FBFFA2;
	border: none;
	width: 240px;
	height: 240px;
}

#a{ background: #A8A8A8; width:130px; height: 130px;}
#e{ background: #A8A8A8; width:130px; height: 130px;}
#i{ background: #A8A8A8; width:130px; height: 130px;}
#o{ background: #A8A8A8; width:130px; height: 130px;}
#u{ background: #A8A8A8; width:130px; height: 130px;}
#b{width:130px; height:130px;}
#c{width:130px; height:130px;}
#d{width:130px; height:130px;}
#f{width:130px; height:130px;}
#g{width:130px; height:130px;}
#h{width:130px; height:130px;}
#j{width:130px; height:130px;}
#k{width:130px; height:130px;}
#l{width:130px; height:130px;}
#m{width:130px; height:130px;}
#n{width:130px; height:130px;}
#p{width:130px; height:130px;}
#q{width:130px; height:130px;}
#r{width:130px; height:130px;}
#s{width:130px; height:130px;}
#t{width:130px; height:130px;}
#v{width:130px; height:130px;}
#w{width:130px; height:130px;}
#x{width:130px; height:130px;}
#y{width:130px; height:130px;}
#z{width:130px; height:130px;}
#SPACE{width:130px; height:130px;}



h1 {
	color: #618269;
}

TR {
	color: white;
}

h2{
	color: white;
}

p {
	color: #618269;
}

td {
    height: 50px;
    vertical-align: middle;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	margin: 10px;
	background: #FBFFA2;
	border: none;
	width: 240px;
	height: 240px;
	center;

    text-decoration: "KeyBoard";
    color: initial;
}

#homepage.html{width:130px; height:130px;}
#KeyBoard{width:240px; height:240px;}


